<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".dashboard.DashboardActivity"/>
        <activity
            android:name=".study.StudySessionActivity"
            android:exported="false"
            android:parentActivityName=".dashboard.DashboardActivity"/>
        <activity
            android:name=".flashcard.FlashcardEditorActivity"
            android:exported="false" />
        <activity
            android:name=".flashcard.FlashcardBrowserActivity"
            android:exported="false"
            android:parentActivityName=".deck.DeckCollectionActivity"/>
        <activity
            android:name=".deck.DeckCollectionActivity"
            android:exported="false"
            android:parentActivityName=".dashboard.DashboardActivity"/>
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.RememberFlashcardAppFinal"
            android:parentActivityName=".auth.AuthActivity"/>
        <activity
            android:name=".auth.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.RememberFlashcardAppFinal"
            android:parentActivityName=".core.LandingActivity"/>
        <activity
            android:name=".about.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.RememberFlashcardAppFinal"
            android:parentActivityName=".core.LandingActivity"/>
        <activity
            android:name=".core.LandingActivity"
            android:exported="false"
            android:theme="@style/Theme.RememberFlashcardAppFinal" />
        <activity
            android:name=".core.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>